* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{

     background-color: rgb(235, 234, 234);
    
}

.header {
    width: 100%;
    height: 80vh;
    background-image:
        /* linear-gradient(to bottom, rgba(255,255,255,0) 70%, rgb(95, 92, 92) 100%), */
        url(/static/imgs/crowd.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    /* flex-direction: column; */
}

.header-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-cover p {
    color: white;
}

.title {
    font-size: 2rem;
    max-width: 600px;
    text-align: center;
}

.health {
    width: 80px;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    display: flex;
    font-size: 0.8rem;
}

.health img {
    width: 27%;
}

.profile {
    width: 30px;
    height: 30px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    border-radius: 50%;
    background-image: url(/static/imgs/Cromiixx.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px 0 0 0;
}

.profile img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.views-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author {
    font-size: 0.7rem;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 3px 0 0 0;
}

.bookmark2 {
    width: 20px;
}

.bookmark2 img {
    width: 100%;
}

.bookmark2 {
    margin: 5px 0 0 0;

}

.second-sec {
    display: flex;
    justify-content: center;
}

.second-sec-left {
    padding: 30px 0 30px 30px;
    position: sticky;
    top: 10px;
    /* 👈 distance from top */
    align-self: flex-start;
}

.second-sec-right {
    padding: 30px 0 30px 30px;
    position: sticky;
    top: 10px;
    /* 👈 distance from top */
    align-self: flex-start;
}

.first-p {
    margin: 0 0 10px 0;
    font-size: 0.9rem;
}

.comment-holder {
    display: flex;
    width: auto;
    gap: 10px;
}

.rating {
    width: 30px;
    text-align: center;
    border-radius: 3px;
    height: 17px;
    background-color: rgb(56, 113, 179);
    color: white;
    font-size: 0.9rem;

}

.post-activity {
    width: 60px;
    display: flex;
    font-size: 0.9rem;

}

.likes {
    width: 50px;
    display: flex;
    gap: 2px;
    font-size: 0.9rem;

}

.comments {
    width: 60px;
    display: flex;
    font-size: 0.9rem;

}

.post-activity img,
.likes img,
.comments img {
    width: 30%;
}

.table-of-contents {
    padding: 20px 0 0 0;
    display: flex;
    gap: 10px;
    width: auto;
    flex-direction: column;
}

.second-p {
    margin: 0 0 10px 0;
    font-size: 0.9rem;
}

.number {
    display: flex;
    gap: 10px;
}

.number p {
    color: gray;
}

.number a {
    color: black;
}

.third-p {
    margin: 30px 0 10px 0;
    font-size: 0.9rem;
}

.social-media {
    display: flex;
    width: auto;
}

.facebook,
.telegram,
.twitter,
.mail {
    width: 50px;
}


.facebook img,
.telegram img,
.twitter img,
.mail img {
    width: 50%;
}

.second-sec-middle {
    padding: 30px 0 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text {
    max-width: 500px;
    font-size: 0.9rem;
  
    white-space: pre-line;
      
      
}

.main-text {
    font-size: 2rem;
}

ul {
    padding: 10px 0 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog-img {
    width: 500px;
    border-radius: 10px;
    height: 300px;
    background-image: url(/static/imgs/_\ \(5\).jpeg);
}

.trending-right {
    padding: 0 30px 0 30px;
    /* width: 700px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    top: 20px;
    /* 👈 distance from top */
    align-self: flex-start;
    /* useful inside flexbox */
}

.search {
    width: 20px;
}


.search img {
    width: 100%;
}


.search-box {
    width: 300px;
    /* margin: 20px 0 0 0; */
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 4px;
    padding: 8px 15px;

}


.search-box input {
    width: 300px;
    border: none;
    outline: none;
    /* flex: 1; */
    font-size: 16px;
    padding: 4px;
    border-radius: 30px;
}

.category-img2 {
    width: 100px;
    border-radius: 10px;
    height: 100px;
    background-image: url(/static/imgs/crowd.jpeg);
    background-position: center;
    background-size: cover;
}

.cover2 {
    display: flex;
}


.article-highlight4 {
    /* height: 200px; */
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    /* justify-items: end; */
    justify-content: end;
    padding: 0 10px 0 10px;
}

.title04 {
    font-size: 1rem;
    max-width: 200px;
}

.trending-posts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dash {
    width: 100px;
    height: 2px;
    background: linear-gradient(to right, rgb(36, 224, 19), transparent)
}

.health-holder {
    display: flex;
    align-items: center;
}

.health3 {
    width: 80px;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
    height: 25px;
    /* padding: 10px; */
    border-radius: 5px;
    /* background-color: green; */
    display: flex;
    font-size: 0.8rem;
}

.health3 img {
    width: 23%;
}

