<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <link rel="stylesheet" href="/static/css/community.css">
</head>

<body>
    <section class="hero">
        <h1>Ideas Worth Reading,<br>Designed for Play.</h1>
        <p>Explore stories that matter, fueled by community.</p>
        <a href="#start" class="btn">Start Reading</a>
    </section>

    <div class="left">
        <div class="zero-sec">
            <p class="discover">Discover great articles</p>
            <p>Join a vibrant community</p>
            <p>Connect with other readers and writers</p>
        </div>
    
        <div class="first-sec"></div>
        <div class="second-sec"></div>
    </div>

    
</body>

</html>